.idea/
.vscode/
*.iml
.DS_Store

frontend-web/node_modules/
frontend-web/dist/
frontend-web/build/
frontend-web/.env
frontend-web/.env.local

backend/.gradle/
backend/build/
backend/out/
backend/target/
backend/src/main/resources/firebase-service-account.json
backend/src/main/resources/application.properties

mobile-app/node_modules/
mobile-app/dist/
mobile-app/build/
mobile-app/.env
mobile-app/.env.local
